/* Disk Scheduling Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#userInput {
    margin: 20px;
}

#userInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* height: 100vh; */
}
/* table {
    border-collapse: collapse;
    width: 100%;
}

table td {
    padding: 8px;
    width: 90px;
    /* border-bottom: 1px solid #ddd; */

#userInput .size{
    display: flex;
    width: 567px;
}

#userInput .position{
    display: flex;
    width: 567px;
}

#userInput .track{
    display: flex;
    width: 567px;
}




input[type="number"],
input[type="text"],
button {
    /* width: 100%; */
   width: 340px;
    /* padding: 8px; */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* margin-top: 5px; */
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#clook,
#look {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#simulate{
    width: max-content;
    
}
#red{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
#green{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}